body {
    background-color: #33353A;
}

.page {
    margin: 10px;
    text-align: center;
    font-size: 64px;
    color: white;
}

.page a {
  float: left;
  color: white;
  text-align: center;
  padding: 22px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-size: 24px;
}

.main a:hover:not(.active) {
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
