body {
    background-color: lime;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.test {
    background-color: white;
    width: 400px;
    padding: 22px 30px;
    border-radius: 5px;
}

#ch {
    display: none;
}

label {
    display: inline-block;
    cursor: pointer;
    color: white;
    background-color: forestgreen;
    padding: 3px 13px;
    border: 3px;
    margin-top: 12px;
}

.content {
    display: none;
}

#ch:checked ~ .content {
    display: block;
}

#ch:checked ~ label {
    display: none;
}